<div class="row">
	<div class="col-xs-2">
		<img width="100%" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash4/t1.0-9/10268701_10203114329451098_2682092409256579889_n.jpg" />
	</div>
	<div class="col-xs-3">
		<address>
			<a href="mailto:willem.veelenturf@gmail.com">Willem Veelenturf</a><br> 
			Visit us at:<br>
			
			Nobeldreef 4<br>
			2871 LA Schoonhoven<br>

			<a href="mailto:willem.veelenturf@gmail.com">e: willem.veelenturf@gmail.com</a><br>
			<a href="http://willemveelenturf.nl">w: http://willemveelenturf.nl</a><br>
		</address>
	</div>
</div>

