<div class="row">
	<div class="col-xs-3">
		<img width="200px" width="100%" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash4/t1.0-9/10268701_10203114329451098_2682092409256579889_n.jpg" style="margin-top:20px;"/>
	
		<address>
			<h3>Willem Veelenturf</h3>
			<p>
				Nobeldreef 4<br>
				2871 LA Schoonhoven<br>
			</p>
			<p>
				<a href="mailto:willem.veelenturf@gmail.com">e: willem.veelenturf@gmail.com</a><br>
				<a href="http://willemveelenturf.nl">w: http://willemveelenturf.nl</a><br>
			</p>
			<p style="margin-top:20px;">
				<a target="_blank" href="https://www.facebook.com/willem.veelenturf">
					<img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX0Uy2mG6w_fpzIkQRqv5tUkMJZ28FJruuz9KXNsGferIQUIh7Dw" />
				</a>
			</p>
			
		</address>
	</div>

	<div class="col-xs-6">
			<h1>About this project</h1>
			<p>This project started out of a frustration that Wordpress templates are moste of the time very messy and unstructured. When you download a third part template it is very hard to customize it to your own needs. In my opinion Wordpress is one of the best opensource content management systems. It is very easy to learn for you customers and it has enough capebilities to work for small and medium size companies where multiple content managers have to work together.</p>

			<p>This porject is hosted and maintaind in Github. It is still under development and never tested on load and performace. The project exists of two sub-projects wp-angular-plugin an wp-angular-theme. The plugin contains the AngularJs integration and a set op directives. The theme contains examples and this documentation. If you would like to contribute please contact me. Below you can find a wishlist and a list of known bugs.</p>

			<p style="margin-top:20px;">
				<a target="_blank" href="https://github.com/wilmveel/">
					<img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrLz_JxEuDlr_J2wPGu00O4B4x60PJRkQVF4v8XV9V487VeQFo" />
				</a>
			</p>
		

	</div>
</div>

