<div class="jumbotron">
	<h1>Wp-Angular</h1>
	<p>Write wordpress templates in an declaretive and asounchonus way.</p>
	<div class="panel"style="text-align:center;">
		<img ng-src="{{bloginfo.templateUrl}}/img/logo.png" />
	</div>
	<div>
		<h2>Intorduction</h2>
		<p>This plugin combines the populair Wordpress content management system (CMS) with the power of AngularJS. The web is emerging with the introduction of the smartphone more the responsivenes of website has become more important. Responsivnes in screen sizes but also in bandwith.</p>

		<p>Currently Wordpress does not optimal support the demand for responsiveness because all the content is renderd on the server. Angular provides us a MVW framwork wich allows you to build well structured javascript appliction.</p>

		<p>By intergrating Angular into Wordpress you can gain from the rich CMS functionality of wordpress and the felxibility of angular to build responsive templates in pure javascript.</p> 
	</div>
	<div style="text-align:right;"><a class="btn btn-primary btn-lg" role="button">Learn more</a></div>
</div>

