<div class="jumbotron">
	<h1>Wp-Angular</h1>
	<p>Write wordpress templates in a declaretive way and benefit from asynchrones loading of content.</p>
	<div class="panel"style="text-align:center;">
		<img ng-src="{{bloginfo.templateUrl}}/img/logo.png" />
	</div>
	<div>
		<h2>Introduction</h2>
		<p>This plugin extends the populair Wordpress content management system (CMS) with the power of AngularJS. The web is emerging and responsivenes of your website becomes more and more impotant. With the introduction of the smartphone different screen sizes and limitations in bandwith became a chalange. Designers and developers have to adapt there way of designing and building websites to this new enviroment. By making websites more responsive logic will move from the server to the client wich is now posible because of the browser wich become more mature.</p>

		<p>Currently Wordpress does not optimal support the demand for responsiveness website. Most of the magic will happen server site in wordpress. Angular provides us a MVW framwork writen in javascript wich allows you to build well structured applictions client side.</p>

		<p>By intergrating Angular into Wordpress you can gain from the rich CMS functionality of wordpress and the felxibility of Angular to build responsive templates in pure javascript way.</p> 
	</div>
	<div style="text-align:right;"><a class="btn btn-primary btn-lg" role="button">Learn more</a></div>
</div>

