<div class="jumbotron">
	<h1>Wp-Angular</h1>
	<p>Write responsive wordpress templates in a declaretive way and load content asynchrones.</p>
	<div class="panel"style="text-align:center;">
		<img ng-src="{{bloginfo.templateUrl}}/img/logo.png" />
	</div>
	<div>
		<h2>Introduction</h2>
		<p>This plugin extends the populair Wordpress content management system (CMS) with the power of AngularJS. The web is emerging and responsivenes of your website has becomes more and more impotant. Different screen resolutions and limitations in bandwith became a chalange to give the end user the best experience of the content. Designers and developers have to adapt there way of designing and building websites to this new enviroment. Making websites responsive require new tools which move from the server to the client.</p>

		<p>Currently Wordpress does not optimal support the demand for responsive websites. Most of the magic happens serversite in wordpress. To make responsive websites more client logic is required. Angular provides us a MVW framwork writen in javascript wich allows you to build well structured applictions client side.</p>

		<p>By integrating Angular and  Wordpress you can gain from the rich CMS functionality of wordpress and the felxibility of Angular to build responsive websites in pure javascript.</p> 
	</div>
	<div style="text-align:right;"><a class="btn btn-primary btn-lg" role="button">Learn more</a></div>
</div>

