<div class="row">
  <div class="col-xs-6">
    <h1>Wp-Menu</h1>
    <p>This directive is an container for loading multiple posts and paginate trough them. To display one post the wp-post directive is used. For all the availible attributes have a look there</p>

    <p>This directive gives you the option to filter 
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default panel-example" wp-example>
      <div class="panel-heading">
        menu as single menu.
      </div>
      <div class="panel-body code">
        <ul class="menu" wp-menu name="primary">
          <li>
            <a href="#">{{title}}</a>
          </li>
        </ul>
      </div>
      <div class="panel-footer example">
      </div>
    </div>
    <div class="panel panel-default panel-example" wp-example>
      <div class="panel-heading">
        Menu as nested menu.
      </div>
      <div class="panel-body code">
        <div class="navbar navbar-inverse" role="navigation">

          <ul class="nav navbar-nav" wp-menu name="primary">
            <li class="dropdown">
              <a ng-href="{{url}}" class="dropdown-toggle" data-toggle="dropdown">
                <span>{{title}}</span>
                <b ng-class="{'caret':childeren}"></b>
              </a>
              <ul class="dropdown-menu" wp-menu>
                <li>
                  <a ng-href="{{url}}">{{title}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel-footer example">
      </div>
    </div>  
  </div>
</div>

<div>



