<div class="row">
	<div class="col-xs-12">
		<h1>Wp-Page</h1>
		<p>The wp-page is able to load the content of a singel page based on an ID or the slug</p>
	</div>
</div>
		
<h1>Examples</h1>

<div class="row">
	<div class="col-xs-6">

		<div class="panel panel-default" wp-example>
			<div class="panel-heading">
				Simple page loaded based on ID
			</div>
			<div class="panel-body code">
				<div wp-page id="11" >
					<h1>{{title}}</h1>
					<div ng-bind-html="content"></div>
				</div>
			</div>
			<div class="panel-footer">
				<pre class="example"></pre>
			</div>
		</div>

		<div class="panel panel-default" wp-example>
			<div class="panel-heading">
				Simple page loaded based on slug
			</div>
			<div class="panel-body code">
				<div wp-page slug="simple-page" >
					<h1>{{title}}</h1>
					<div ng-bind-html="content"></div>
				</div>
			</div>
			<div class="panel-footer">
				<pre class="example"></pre>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="panel panel-default" wp-example>
			<div class="panel-heading">
				Page with media
			</div>
			<div class="panel-body code">
				<div wp-page id="24" >
					<h1>{{title}}</h1>
					<div ng-bind-html="content"></div>
				</div>
			</div>
			<div class="panel-footer">
				<pre class="example"></pre>
			</div>
		</div>
	</div>

	<div class="col-xs-6">

		
	</div>
</div>